* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    background-image: url(../Imagens/background-site.PNG);
    width: 100%;
    height: 657px;
}

.menu img {
    height: 500px;
    width: 950px;
    display: block;
    margin-left: 220px;
    margin-right: auto;
    margin-top: 100px;
}

.logo {
    width: 100%;
    height: 657px;
    position: absolute;
}

.sobrepor {
    width: 1300px;
    align-items: center;
}
.header {
    position: absolute;
}

.header ul li {
    display: inline-block;
}

.header ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
    text-align: center;
}

.header ul {
    font-family: 'Raleway', sans-serif;
    float: right;
    margin: 0 auto;
    margin-top: 20px;
    margin-right: -1340px;
    padding: 22px;
}

.descricao {
    position: absolute;
    margin-top: 460px;
    margin-left: 400px;
}

.descricao-texto {
    text-align: center;
    color: #ffffff;
}

.titulo {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.sobre{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.logoimg {
    margin-top: 90px;
    margin-left: 200px;
    width: 481px;
    height: 256px;
}

.descricao-sobrenos {
    float: right;
    width: 500px;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    margin-right: 150px;
    margin-top: 90px;
}

.icon {
    height: 100px;
    width: 100px;
    margin: 100px 160px 0px 180px;
}

.missao-descricao {
    float: left;
    width: 220px;
    margin-left: 120px;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}

.missao-descricao h3, .visao-descricao h3, .valores-descricao h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.visao-descricao {
    width: 220px;
    text-align: justify;
    margin-left: 220px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
}

.valores-descricao {
    float: right;
    margin-right: 125px;
    width: 220px;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}

.equipe-responsavel{
    width: 100%;
    background-color: #343642;
    height: 970px;
}

.equipe-responsavel h1 {
    margin-top: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.equipe-responsavel img {
    height: 320px;
    width: 260px;
}

.iniciopadronizacao {
    margin: 70px 41px 0px 30px;
}

.meiopadronizacao {
    margin: 90px 60px 0px 100px;
}

.nomes-fotos {
    width: 100px;
    display: inline-block;
}

.nome-cima, .nome-baixo{
    text-align: center;
    display: inline-block;
    font-size: 14px;
    color: white;
}

.um {
    margin-left: 120px;
}

.dois {
    margin-left: 240px;
}

.tres {
    margin-left: 250px;
}

.quatro {
    margin-left: 220px;
}

.cinco {
    margin-left: 190px;
}

.seis {
    margin-left: 340px;
}

.sete {
    margin-left: 330px;
}

.simulador-financeiro {
    background-color: #962e3f;
}

.simulador-financeiro input{
    text-align: center; 
}

.simulador-financeiro h1 {
    text-align: center;
    padding-top: 50px; 
    padding-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.pergunta {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

#div_conta {
    padding-bottom: 100px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.footer {
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
}

.footer p {
    padding-top: 25px;
}
