/* global */

* {
    margin: 0;
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

div.container {
    width: 85%;
    margin: 0 auto;
    display: flex;
}

/* end global */

/* header */
header {
    width: 100vw;
    height: 70px;
    display: flex;
    background-color: #852b3d;
}

header div.container {
    align-self: center;
    align-items: center;
    justify-content: space-between;
    /* background-color: cyan; */
}

header div.container div.logo img {
    width: 75px;
    border-radius: 50%;
}

header div.container nav {
    width: 120px;
    /* background-color: coral; */
}

header div.container nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #fff;
}

/* end header */

/* average */

section.dashboard {
    width: 100%;
    height: calc(100vh - 70px);
    padding-top: 15px;
    /* background-color: tan; */
}

section.dashboard div.container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: teal; */
}

section.dashboard div.container div.dados {
    width: 71%;
    display: flex;
    margin-right: 10px;
    flex-direction: column;
}

section.dashboard div.container div.dados div.div_media {
    width: 100%;
    /* min-width: 500px; */
    max-height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 1px solid rgba(58, 11, 11, 0.15);
    /* box-shadow: 1px 1px 1px rgba(58, 11, 11, 0.15); */
    /* background-color: tomato; */
}

section.dashboard div.container div.dados div.div_media section:first-child {
    min-width: 170px;
    height: 100%;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: violet; */
}

section.dashboard div.container div.dados div.div_media section:last-child {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
}

/* end average */


/* sensors */

section.dashboard div.container div.dados div.sensors {
    width: 100%;
    height: 220px;
    display: flex;
    margin-top: 20px;
    border-bottom: 2px solid  rgba(58, 11, 11, 0.15);
    /* background-color: skyblue; */
}

section.dashboard div.container div.dados div.sensors div.dados_sensor {
    width: 630px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.dashboard div.container div.dados div.sensors div.dados_sensor section:first-child{
    min-width: 250px;
    height: 100%;
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

section.dashboard div.container div.dados div.sensors div.dados_sensor section:first-child div.ident_sensor {
    text-align: center;
}

section.dashboard div.container div.dados div.sensors div.div_btn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    /* background-color: blueviolet; */
}

section.dashboard div.container div.dados div.sensors div.div_btn a {
    text-decoration: none;
}

section.dashboard div.container div.dados div.sensors div.div_btn button {
    width: 100px;
    height: 30px;
    color: #852b3d;
    margin-bottom: 30px;
    border-radius: 5px;
    transition: 0.3s;
    border: 1px solid #852b3d;
    background-color: transparent;
}
section.dashboard div.container div.dados div.sensors div.div_btn button:hover {
    color: #fff;
    background-color: #852b3d;
}

/* end sensors */


/* status */

section.dashboard div.container div.div_status {
    width: 320px;
    height: 100px;
    display: flex;
    border-radius: 5px;
    align-self: flex-start;
    /* border: 1px solid rgba(58, 11, 11, 0.15); */
    /* border-bottom: 1px solid salmon; */
    /* box-shadow: 1px 1px 3px rgba(58, 11, 11, 0.15); */
    /* background-color: aqua; */
}

section.dashboard div.container div.div_status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.dashboard div.container div.div_status div.icon_status {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: gray;
}

section.dashboard div.container div.div_status div.icon_status img {
    width: 50px;
    height: 50px;
}

section.dashboard div.container div.div_status div.div_desc {
    width: 85%;
    height: 60%;
    display: none;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
    opacity: 0;
}

section.dashboard div.container div.div_status div.div_desc div.sensors_alerta {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

section.dashboard div.container div.div_status div.div_desc div#desc_status {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section.dashboard div.container div.div_status div.div_desc div#desc_status div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section.dashboard div.container div.div_status div.div_desc div#desc_status div:first-child {
    width: 60%;
}
section.dashboard div.container div.div_status div.div_desc div#desc_status div:last-child {
    width: 40%;
    align-items: flex-end;
}

/* end status */






@media only screen and (max-width: 900px) {

    section.dashboard div.container {
        width: 95%;
    }

    section.dashboard div.container div.dados {
        width: 100%;
    }
    section.dashboard div.container div.dados div.div_media {
        width: 100%;
        max-height: 1000px;
        margin: 0;
        flex-direction: row;
        align-self: end;
        float: right;
        background-color: sandybrown;
    }

    section.dashboard div.container div.dados div.div_media section:first-child {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        flex-direction: row;
    }

    section.dashboard div.container div.dados div.div_status {
        float: left;
    }

}