.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/logo1.png"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-text-1 {margin: 41px auto 60px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 660px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 380px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 287px} }.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-2 .u-image-1 {min-height: 400px; background-image: url("images/logo1.png"); background-position: 50% 50%}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 400px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-1 {width: 286px; margin: 0 auto}
.u-section-2 .u-text-2 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 430px}
.u-section-2 .u-layout-wrap-1 {position: relative}
.u-section-2 .u-image-1 {min-height: 330px}
.u-section-2 .u-layout-cell-2 {min-height: 330px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 353px}
.u-section-2 .u-image-1 {min-height: 253px}
.u-section-2 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 580px}
.u-section-2 .u-image-1 {min-height: 380px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 439px}
.u-section-2 .u-image-1 {min-height: 239px} }.u-section-3 .u-sheet-1 {min-height: 315px}
.u-section-3 .u-text-1 {margin: 20px 889px 0 0}
.u-section-3 .u-text-2 {margin: 20px auto 60px 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 253px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 629px}
.u-section-3 .u-text-1 {margin-right: 669px} }

@media (max-width: 767px){ .u-section-3 .u-text-1 {width: auto; margin-right: 196px} }

@media (max-width: 575px){ .u-section-3 .u-text-1 {margin-right: 0} }.u-section-4 .u-sheet-1 {min-height: 672px}
.u-section-4 .u-text-1 {margin: 29px auto 0}
.u-section-4 .u-list-1 {min-height: 315px; grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px); grid-template-rows: auto; height: auto; grid-gap: 10px 10px; margin: 131px auto 60px 0}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-icon-1 {height: 64px; width: 64px; margin: 0 auto}
.u-section-4 .u-text-2 {margin: 30px 0 0}
.u-section-4 .u-text-3 {margin: 20px 20px 0 0}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-icon-2 {height: 64px; width: 64px; margin: 0 auto}
.u-section-4 .u-text-4 {margin: 30px 0 0}
.u-section-4 .u-text-5 {margin: 20px 20px 0 0}
.u-section-4 .u-container-layout-3 {padding: 30px}
.u-section-4 .u-icon-3 {height: 64px; width: 64px; margin: 0 auto}
.u-section-4 .u-text-6 {margin: 30px 0 0}
.u-section-4 .u-text-7 {margin: 20px 20px 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 454px}
.u-section-4 .u-text-1 {margin-top: 84px}
.u-section-4 .u-list-1 {min-height: 259px; margin-top: 77px; margin-bottom: 0; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-4 .u-text-1 {margin-top: 379px}
.u-section-4 .u-list-1 {min-height: 595px; grid-template-columns: calc(((100% - 720px) / 2)  + 355px) calc(((100% - 720px) / 2)  + 355px); margin-top: 20px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 1233px}
.u-section-4 .u-text-1 {width: auto; margin-top: 37px}
.u-section-4 .u-list-1 {grid-template-columns: calc(((100% - 540px) / 2)  + 265px) calc(((100% - 540px) / 2)  + 265px); margin-right: initial; margin-left: initial}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-text-1 {margin-top: 20px}
.u-section-4 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial} }.u-section-5 .u-sheet-1 {min-height: 1381px}
.u-section-5 .u-group-1 {min-height: 233px; width: 924px; height: auto; margin: 60px auto 0}
.u-section-5 .u-container-layout-1 {padding: 30px 60px}
.u-section-5 .u-text-1 {margin: 32px 0 0}
.u-section-5 .u-text-2 {font-style: italic; margin: 20px 32px 0 -32px}
.u-section-5 .u-layout-wrap-1 {width: 1140px; margin: 36px auto 60px 0}
.u-section-5 .u-layout-cell-1 {min-height: 546px}
.u-section-5 .u-container-layout-2 {padding-left: 30px; padding-right: 30px; padding-bottom: 30px}
.u-section-5 .u-image-1 {height: 380px; margin: 0 auto 0 0}
.u-section-5 .u-text-3 {margin: 30px 0 0}
.u-section-5 .u-text-4 {margin: 20px 0 0}
.u-section-5 .u-layout-cell-2 {min-height: 546px}
.u-section-5 .u-container-layout-3 {padding-left: 30px; padding-right: 30px; padding-bottom: 30px}
.u-section-5 .u-image-2 {height: 380px; margin: 0 auto 0 0}
.u-section-5 .u-text-5 {margin: 30px 0 0}
.u-section-5 .u-text-6 {margin: 20px 0 0}
.u-section-5 .u-layout-cell-3 {min-height: 546px}
.u-section-5 .u-container-layout-4 {padding-left: 30px; padding-right: 30px; padding-bottom: 30px}
.u-section-5 .u-image-3 {height: 380px; top: undefined; bottom: undefined; left: undefined; right: undefined; margin: 0 auto}
.u-section-5 .u-text-7 {width: 240px; margin: 30px auto 0}
.u-section-5 .u-text-8 {margin: 20px 0 0}
.u-section-5 .u-layout-cell-4 {min-height: 535px}
.u-section-5 .u-container-layout-5 {padding-left: 30px; padding-right: 30px; padding-bottom: 30px}
.u-section-5 .u-image-4 {height: 380px; top: undefined; bottom: undefined; left: undefined; right: undefined; margin: 0 auto}
.u-section-5 .u-text-9 {margin: 30px 0 0}
.u-section-5 .u-text-10 {margin: 20px 0 0}
.u-section-5 .u-layout-cell-5 {min-height: 535px}
.u-section-5 .u-container-layout-6 {padding-left: 30px; padding-right: 30px; padding-bottom: 30px}
.u-section-5 .u-image-5 {height: 380px; object-position: 50% 0%; background-position: 50% 0%; margin: 0 auto}
.u-section-5 .u-text-11 {margin: 30px 0 0}
.u-section-5 .u-text-12 {margin: 20px 0 0}
.u-section-5 .u-layout-cell-6 {min-height: 535px}
.u-section-5 .u-container-layout-7 {padding-left: 30px; padding-right: 30px; padding-bottom: 30px}
.u-section-5 .u-image-6 {height: 380px; top: undefined; bottom: undefined; left: undefined; right: undefined; margin: 0 auto}
.u-section-5 .u-text-13 {margin: 30px 0 0}
.u-section-5 .u-text-14 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 1139px}
.u-section-5 .u-group-1 {width: 762px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-image-1 {height: 313px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-image-2 {height: 313px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-3 {min-height: 100px}
.u-section-5 .u-image-3 {height: 313px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-7 {width: 198px}
.u-section-5 .u-layout-cell-4 {min-height: 100px}
.u-section-5 .u-image-4 {height: 313px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-5 {min-height: 100px}
.u-section-5 .u-image-5 {height: 313px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-6 {min-height: 100px}
.u-section-5 .u-image-6 {height: 313px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 872px}
.u-section-5 .u-group-1 {width: 584px}
.u-section-5 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-image-1 {height: 240px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-2 {height: 240px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-3 {height: 240px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-7 {width: 152px}
.u-section-5 .u-image-4 {height: 240px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-5 {height: 240px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-6 {height: 240px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 100px}
.u-section-5 .u-group-1 {width: 540px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-1 {height: 540px; margin-right: initial; margin-left: initial}
.u-section-5 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-2 {height: 540px; margin-right: initial; margin-left: initial}
.u-section-5 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-3 {height: 540px; margin-right: initial; margin-left: initial}
.u-section-5 .u-text-7 {width: 142px}
.u-section-5 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-4 {height: 540px; margin-right: initial; margin-left: initial}
.u-section-5 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-5 {height: 540px; margin-right: initial; margin-left: initial}
.u-section-5 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-6 {height: 540px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-5 .u-group-1 {width: 340px}
.u-section-5 .u-image-1 {height: 340px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-2 {height: 340px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-3 {height: 340px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-4 {height: 340px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-5 {height: 340px; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-6 {height: 340px; margin-right: initial; margin-left: initial} }.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 544px}
.u-section-6 .u-text-1 {margin: 31px auto 0}
.u-section-6 .u-list-1 {min-height: 245px; grid-gap: 10px 10px; grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px); grid-template-rows: auto; width: 1140px; height: auto; margin: 20px 0 60px}
.u-section-6 .u-container-layout-1 {padding: 30px}
.u-section-6 .u-text-2 {font-weight: 700; margin: 0 auto}
.u-section-6 .u-text-3 {margin: 20px 0 0}
.u-section-6 .u-container-layout-2 {padding: 30px}
.u-section-6 .u-text-4 {font-weight: 700; margin: 0 auto}
.u-section-6 .u-text-5 {margin: 20px 0 0}
.u-section-6 .u-container-layout-3 {padding: 30px}
.u-section-6 .u-text-6 {font-weight: 700; margin: 0 auto}
.u-section-6 .u-text-7 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 501px}
.u-section-6 .u-list-1 {min-height: 202px; grid-template-columns: repeat(3, calc(33.333333333333336% - 7px)); width: 940px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 319px}
.u-section-6 .u-text-1 {margin-top: 45px}
.u-section-6 .u-list-1 {min-height: 259px; grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px); margin-top: -73px; margin-bottom: 0; margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 299px}
.u-section-6 .u-text-1 {margin-top: 25px}
.u-section-6 .u-list-1 {min-height: 239px; margin-top: -27px; width: auto; margin-right: initial; margin-left: initial}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 511px}
.u-section-6 .u-text-1 {margin-top: 20px}
.u-section-6 .u-list-1 {min-height: 451px; grid-template-columns: calc(((100% - 340px) / 2)  + 165px) calc(((100% - 340px) / 2)  + 165px); margin-top: 20px; width: auto; margin-right: initial; margin-left: initial} }.u-section-7 .u-sheet-1 {min-height: 379px}
.u-section-7 .u-text-1 {width: 679px; margin: 60px 231px 0}
.u-section-7 .u-text-2 {width: 679px; margin: 20px auto 0}
.u-section-7 .u-btn-1 {background-image: none; border-style: none none solid; margin: 20px auto 0; padding: 0}
.u-section-7 .u-list-1 {min-height: 188px; grid-template-columns: repeat(4, calc(25% - 8px)); grid-template-rows: repeat(1, auto); grid-gap: 10px; margin: 20px auto 50px 0}
.u-section-7 .u-container-layout-1 {padding: 30px}
.u-section-7 .u-image-1 {width: 202px; height: 79px; margin: 0 auto}
.u-section-7 .u-container-layout-2 {padding: 30px}
.u-section-7 .u-image-2 {width: 202px; height: 79px; margin: 0 auto}
.u-section-7 .u-container-layout-3 {padding: 30px}
.u-section-7 .u-image-3 {width: 202px; height: 79px; margin: 0 auto}
.u-section-7 .u-container-layout-4 {padding: 30px}
.u-section-7 .u-image-4 {width: 202px; height: 79px; margin: 0 auto} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 346px}
.u-section-7 .u-text-1 {margin-left: 131px; margin-right: 131px}
.u-section-7 .u-list-1 {min-height: 155px; height: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-7 .u-text-1 {margin-left: 21px; margin-right: 21px}
.u-section-7 .u-text-2 {margin-left: 21px; margin-right: 21px}
.u-section-7 .u-list-1 {min-height: 288px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-bottom: 60px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-7 .u-text-1 {width: 540px; margin-left: 0; margin-right: 0}
.u-section-7 .u-text-2 {width: 540px; margin-left: 0; margin-right: 0}
.u-section-7 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px)); margin-right: initial; margin-left: initial}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-7 .u-text-1 {width: 340px}
.u-section-7 .u-text-2 {width: 340px}
.u-section-7 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 340px) / 2)  + 165px)); margin-right: initial; margin-left: initial}
.u-section-7 .u-image-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-7 .u-image-2 {margin-right: initial; margin-left: initial; width: auto}
.u-section-7 .u-image-3 {margin-right: initial; margin-left: initial; width: auto}
.u-section-7 .u-image-4 {margin-right: initial; margin-left: initial; width: auto} }